<!-- Swiper Info -->
<div class="swiper-container overflow-hidden bg-light w-100 h-100"
  data-swiper
  data-options='{
    "slidesPerView": 1,
    "speed": 1500,
    "loop": true,
    "effect": "fade",
    "autoplay": {
      "delay": 5000
    }
  }'>
  <div class="swiper-wrapper">
    <div class="swiper-slide position-relative">
      <div class="w-100 h-100 bg-img-cover bg-slideshow-1 animation-move bg-pos-center-center">
      </div>
    </div>
    <div class="swiper-slide position-relative">
      <div class="w-100 h-100 bg-img-cover bg-slideshow-2 animation-move bg-pos-center-center">
      </div>
    </div>
    <div class="swiper-slide position-relative">
      <div class="w-100 h-100 bg-img-cover bg-slideshow-3 animation-move bg-pos-center-center">
      </div>
    </div>
  </div>

</div>
<!-- / Swiper Info-->
